<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.miniproject.mapper.hboardmapper">
	<select id="getEntireHBoard"
		resultType="com.miniproject.model.HBoard">
		SELECT * FROM hboard order by ref desc, refOrder asc
	</select>

	<insert id="saveHBoard" useGeneratedKeys="true"
		keyProperty="boardNo">
		INSERT INTO `webmoonya`.`hboard` (`title`, `content`,
		`writer`) VALUES (#{title}, #{content}, #{writer})
	</insert>

	<update id="updateRefByBoardNo">
		UPDATE hboard SET `ref` = #{boardNo} WHERE (`boardNo`
		= #{boardNo});
	</update>

	<insert id="saveUpFile">
		INSERT INTO boardupfiles (`originalFileName`,
		`newFileName`, `thumbFileName`, `fileType`, `ext`, `size`,
		`base64Image`, `boardNo`)
		VALUES (#{originalFileName}, #{newFileName},
		#{thumbFileName}, #{fileType}, #{ext}, #{size}, #{base64Image},
		#{boardNo})
	</insert>
	<!-- resultType="com.miniproject.model.BoardDetailInfo" -->
	<select id="getBoardDetailInfoByBoardNo"
		resultMap="boardDetailInfoMap">
		SELECT
		h.*, f.*,
		m.userId, m.userName, m.email, m.userImg
		FROM
		hboard h left outer join
		boardupfiles f
		on h.boardNo = f.boardNo inner
		join member m on h.writer = m.userId
		where (h.boardNo = #{boardNo});
	</select>
	<!-- id*,result*,association*,collection* -->
	<resultMap type="com.miniproject.model.BoardDetailInfo"
		id="boardDetailInfoMap">

		<result column="boardNo" property="boardNo" javaType="int" />
		<result column="title" property="title" javaType="String" />
		<result column="content" property="content" javaType="String" />
		<result column="writer" property="writer" javaType="String" />
		<result column="postDate" property="postDate"
			javaType="java.sql.Timestamp" />
		<result column="readCount" property="readCount" javaType="int" />
		<result column="ref" property="ref" javaType="int" />
		<result column="step" property="step" javaType="int" />
		<result column="refOrder" property="refOrder" javaType="int" />

		<result column="userId" property="userId" javaType="String" />
		<result column="userName" property="userName" javaType="String" />
		<result column="email" property="email" javaType="String" />
		<result column="userImg" property="userImg" javaType="String" />

		<collection property="fileList"
			ofType="com.miniproject.model.BoardUpFilesVODTO"
			javaType="java.util.ArrayList">
			<result column="boardUpFileNo" property="boardUpFileNo"
				javaType="int" />
			<result column="originalFileName" property="originalFileName"
				javaType="String" />
			<result column="newFileName" property="newFileName"
				javaType="String" />
			<result column="thumbFileName" property="thumbFileName"
				javaType="String" />
			<result column="fileType" property="fileType"
				javaType="String" />
			<result column="ext" property="ext" javaType="String" />
			<result column="size" property="size" javaType="long" />
			<result column="base64Image" property="base64Image"
				javaType="String" />
			<result column="boardNo" property="boardNo" javaType="int" />
		</collection>
	</resultMap>

	<select id="checkHourReadLogByBoardNo" resultType="int">
		select
		ifnull(timestampdiff(hour, (select
		max(readWhen)
		from boardreadlog
		where
		readWho = #{readWho} and readBoardNo = #{boardNo}), now()),-1) as
		timediff;
	</select>

	<update id="updateReadCount">
		update hboard
		set readCount = readCount + 1
		where
		boardNo = #{boardNo};
	</update>

	<insert id="insertBoardReadLog">
		INSERT INTO boardreadlog (`readWho`, `readboardNo`)
		VALUES (#{readWho}, #{boardNo})
	</insert>

	<!-- 답글을 저장하는 -->
	<insert id="insertReply">
		insert into hboard(title, content, writer, ref, step,
		refOrder)
		values (#{title}, #{content}, #{writer}, #{ref}, #{step},
		#{refOrder})
	</insert>

	<update id="updateRefThatWrittenReply">
		UPDATE hboard
		SET refOrder = refOrder + 1
		WHERE ref =
		#{ref} AND refOrder > #{refOrder};
	</update>

	<select id="getWriterByBoardNo" resultType="string">
		select writer from hboard where boardNo = ${boardNo}
	</select>
</mapper>