<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miniproject.mapper.membermapper">
	<update id="updateUserPoint">
		update member
		set userpoint = userpoint + (
		select
		`pointscore` from pointinfo where pointcontent = #{pointwhy}
		)
		where
		userId = #{userId}
	</update>

	<select id="isUserIdDuplicate" resultType="String">
		select userId from member where userId = #{userId};
	</select>

	<insert id="saveUser">
		INSERT INTO member (`userId`,
		`userPwd`, `userName`, `mobile`, `email`, `gender`, `job`, `hobbys`,
		`postZip`, `addr`) VALUES (#{userId}, SHA2(#{userPwd}, 256), #{userName},
		#{mobile}, #{email}, #{gender}, #{job}, #{hobbys}, #{postZip}, #{addr});
	</insert>
</mapper>