<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.miniproject.mapper.pointlogmapper">
	<insert id="insertPointLog">
		insert into pointlog(pointwho, pointwhy, pointscore)
		values(#{pointwho}, #{pointwhy}, (select pointscore from pointinfo where pointcontent=#{pointwhy}))
	</insert>
</mapper>