<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miniproject.mapper.replymapper">
   <insert id="insertReply">
       insert into replies(replyContent, replyer, boardNo)
       values(#{replyContent}, #{replyer}, #{boardNo})
   </insert>
   
   <select id="selectReplyByReplyNo" resultType="Reply">
      select * from replies where replyNo = #{replyNo}
   </select>
   
   <select id="getReplyCountByBoardNo" resultType="int">
      select count(*) from replies where boardNo = #{boardNo}
   </select>
   
   <select id="getAllRepliesByBoardNo" resultType="Reply">
      select * from replies where boardNo = #{boardNo} order by postDate desc limit #{startRowIndex}, #{rowCntPerPage}
   </select>
</mapper>